<footer class="footer">
  <div class="container footer__container">
    <p class="footer__text">
      &copy 2022 | All Rights Reserved |<span class="footer__enter"
        >Developed with</span
      >

      <span>
        <svg class="footer__img">
          <use href="./images/footer/vector.svg#icon-heart"></use>
        </svg>
      </span>
      by
      <span>
        <a class="footer__text-link"> GoIT Students </a>
      </span>
    </p>
  </div>
  <div class="footer-backdrop is-hidden" data-modal>
    <div class="footer-modal">
      <div class="footer-modal__close" data-modal-close></div>
      <h2 class="footer-modal__team">Our team members</h2>
      <ul class="footer-modal__list">
        <li class="footer-modal__element">
          <img
            class="footer-modal__img"
            src="./images/footer/evgeniy.jpg"
            alt="team member"
            width="180"
          />
          <a
            class="footer-modal__social-link"
            href="https://github.com/Jberestian"
            ><h3 class="footer-modal__member-name">Yevhen Berestian</h3>
            <p class="footer-modal__member-role">Team-Lead</p></a
          >
        </li>
        <li class="footer-modal__element">
          <img
            class="footer-modal__img"
            src="./images/footer/vlad.jpg"
            alt="team member"
            width="180"
          />
          <a
            class="footer-modal__social-link"
            href="https://github.com/VladyslavHarshyn"
            ><h3 class="footer-modal__member-name">Harshyn Vladyslav</h3>
            <p class="footer-modal__member-role">Scrum Master</p></a
          >
        </li>
        <li class="footer-modal__element">
          <img
            class="footer-modal__img"
            src="./images/footer/agami.jpg"
            alt="team member"
            width="180"
          />
          <a
            class="footer-modal__social-link"
            href="https://github.com/Agami-Malikov"
            ><h3 class="footer-modal__member-name">Agami Malikov</h3>
            <p class="footer-modal__member-role">Developer</p></a
          >
        </li>
        <li class="footer-modal__element">
          <img
            class="footer-modal__img"
            src="./images/footer/igor.jpg"
            alt="team member"
            width="180"
          />
          <a
            class="footer-modal__social-link"
            href="https://github.com/Igrillio"
          >
            <h3 class="footer-modal__member-name">Igor Merkushin</h3>
            <p class="footer-modal__member-role">Developer</p>
          </a>
        </li>
        <li class="footer-modal__element">
          <img
            class="footer-modal__img"
            src="./images/footer/marina.jpg"
            alt="team member"
            width="180"
          />
          <a class="footer-modal__social-link" href="https://github.com/toontu">
            <h3 class="footer-modal__member-name">Marina</h3>
            <p class="footer-modal__member-role">Developer</p>
          </a>
        </li>
        <li class="footer-modal__element">
          <img
            class="footer-modal__img"
            src="./images/footer/vlad2.jpg"
            alt="team member"
            width="180"
          />
          <a
            class="footer-modal__social-link"
            href="https://github.com/clocwerk"
          >
            <h3 class="footer-modal__member-name">Vladyslav</h3>
            <p class="footer-modal__member-role">Developer</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="preloader">
    <div class="preloader__row">
      <div class="preloader__item"></div>
      <div class="preloader__item"></div>
    </div>
  </div>
</footer>
