<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal__close" data-modal-close></div>
    <div class="modal__card">
      <div class="modal__first-pic">
        <img
          class="circle-pic"
          src="./images/modal/round-pic.png"
          alt="mini poster"
        />
      </div>
      <div class="modal__body">
        <div class="modal__main-pic">
          <img class="" src="./images/modal/pic.png" alt="main poster" />
        </div>
        <div class="modal__main-content">
          <h3 class="content__title">INFO</h3>
          <p class="content__txt">
            Atlas Weekend is the largest music festival in Ukraine.More than 200
            artists will create a proper music festival atmosphere on 10
            <br />stages
          </p>

          <h3 class="content__title">WHEN</h3>
          <p class="content__txt">
            2021-06-09 <br />
            20:00 (Kyiv/Ukraine)
          </p>

          <h3 class="content__title">WHERE</h3>
          <p class="content__txt">Kyiv, Ukraine <br />VDNH</p>

          <h3 class="content__title">WHO</h3>
          <p class="content__txt">The Black Eyed Peas</p>

          <h3 class="content__title">PRICES</h3>
          <div class="content__price">
            <!-- <svg class="content__price-svg"></svg> -->
            <p class="content__txt">Standart 300-500 UAH</p>
          </div>
          <button class="buy-btn" type="button">BUY TICKETS</button>

          <div class="content__price">
            <svg class="content__price-svg"></svg>
            <p class="content__txt">VIP 1000-1500 UAH</p>
          </div>
          <button class="buy-btn" type="button">BUY TICKETS</button>
        </div>
      </div>
      <button class="more-btn" type="button">MORE FROM THIS AUTHOR</button>
    </div>
  </div>
</div>
