<header class="header">
  <a href="./index.html">
    <div class="header__logo">
      <svg class="header__logo-icon" width="60" height="25">
        <use href="./images/header/icons.svg#logo-letters-icon"></use>
      </svg>
    </div>
  </a>
  <button type="button" class="scroll-up no-show" title="Scroll to top">
    <svg class="scroll-up__icon" width="45" height="30">
      <use href="./images/header/icons.svg#icon-arrow-up"></use>
    </svg>
  </button>
  <h1 class="header__title" animate__animated animate__zoomIn>
    FIND BEST EVENTS AROUND THE WORLD
  </h1>
  <a href="./index.html">
    <div class="header__logo">
      <svg class="header__logo-icon" width="60" height="25">
        <use href="./images/header/icons.svg#logo-letters-icon"></use>
      </svg>
    </div>
  </a>


  <form class="search-form">
    <div class="search-form__element">
      <input
        class="search-form__input"
        type="text"
        placeholder="Start searching"
      />
      <svg class="search-form__icon" width="15" height="15">
        <use href="./images/header/icons.svg#search-icon"></use>
      </svg>
    </div>

    <div class="form__select search-form__element">
      <select class="form-select search-form__select" id="mySelect">
        <option class="form-choose-country" value="">Choose country</option>
      </select>
      <svg class="select__icon" width="15" height="15">
        <use href="./images/header/icons.svg#dropdown-icon"></use>
      </svg>
    </div>
  </form>
</header>
