<header class="header">
  <div class="header__logo">
    <svg class="header__logo-icon" width="60" height="25">
      <use href="./images/header/icons.svg#logo-letters-icon"></use>
    </svg>
  </div>
  <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
  <form class="search-form">
    <div class="search-form__element">
      <input
        class="search-form__input"
        type="text"
        placeholder="Start searching"
      />
      <button type="submit" class="search-form__btn">
        <svg class="search-form__icon" width="15" height="15">
          <use href="./images/header/icons.svg#search-icon"></use>
        </svg>
      </button>
    </div>

         
    <span class="form__select">
      <select class="form-select form-element">
        <option class="form-choose-country" value="">Choose country</option>
      </select>
      <label class="events__select-label" for="country-select">
        <!-- <svg class="events__arrow-icon" width="15" height="10"> -->
          <!-- <use href="./images/sprite.svg#icon-polygon"></use>
        </svg> -->
      </label>
    </span>

    <!-- <div class="search-form__element">
      <select id="mySelect" class="search-form__select custom-select-panel">
        <option value>Choose country</option>
        <option value="foo">Foo</option>
        <option value="buz">Buz</option>
      </select>
      <svg class="select__icon" width="15" height="15">
        <use href="./images/header/icons.svg#dropdown-icon"></use>
      </svg>
    </div> -->
  </form>
</header>

